page-game {
    /*div.scroll-content{
        overflow-y: hidden;
    }*/
    .start-button{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    canvas{
        display: block;
    }
}
    